---
import ProjectCard from '../components/ProjectCard.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const allProjects = await getCollection("projects");
---

<Layout title='Mug of Coffee Software'>
    <div class="">
        <h1 class="text-center font-sans text-5xl pb-8">Projects</h1>
        <div class="flex flex-col gap-4">
            {allProjects.map(project => 
                (
                    <ProjectCard name={project.data.name} description={project.data.description} cover={project.data.cover} url={project.data.url}/>
                )
            )}
        </div>
    </div>
</Layout>
