
<footer class="md:h-32 bg-gray-800 flex flex-col text-white font-sans">
    <div class="flex flex-row pl-8 pr-8 pt-8 pb-8">
        <div class="w-[50%] flex flex-row justify-center border-r border-gray-700">
            <span class="text-2xl">Mug of Coffee Software</span>
        </div>
        <div class="w-[50%] flex md:flex-row md:space-x-4 underline md:justify-center flex-col max-md:pl-4 max-md:space-y-1">
            <a href="/pages/impressum">Impressum</a>
            <a href="/pages/privacy">Datenschutzerklärung / Privacy Notice</a>
        </div>
    </div>
    <div class="flex flex-column justify-center border-t border-gray-700 grow items-center">
        <span class="text-xs text-gray-300">© 2025 Mug of Coffee Software GmbH - All rights reserved. </span>
    </div>
</footer>