
<header class="flex flex-row bg-gray-800 p-4 text-white shadow-md md:rounded-b-md md:w-[80%] w-full">
    <span class="flex grow font-sans text-xl"><a href="/">Mug of Coffee</a></span>
    <a href="/">Projects</a>
</header>