---
import { Image } from 'astro:assets';

interface Props {
    name: string,
    description: string,
    cover?: string,
    url: string
}

const { name, description, cover, url } = Astro.props;
---
<a href={url} class="rounded-md md:w-xl w-full self-center shadow-md border-slate-200 border min-h-24 flex items-center flex-col md:flex-row">
        <div class="md:w-32 text-center max-md:border-b w-full max-md:pt-2 max-md:pb-2 pl-6 pr-2">
            { typeof(cover) === "undefined" ? <h2 class="text-2xl">{name}</h2> : <Image src={cover!} alt={name + " logo"} width=64 height=64></Image>}
            
        </div>
        <div class="pl-4 pr-4 max-md:pt-4 max-md:pb-4">
            {typeof(cover) !== "undefined" && <h2 class="text-2xl pb-2 pt-4 border-slate-200 border-b">{name}</h2>}
            {typeof(cover) !== "undefined" && <div class="pb-2"></div>}
            <span class="font-sans">{description}</span>
            {typeof(cover) !== "undefined" && <div class="pb-2"></div>}
        </div>
</a>